.dashboard{
    display: flex;
    flex-direction:row ;
}

.dashsidecontent{
    margin: 5% 5% 0 5%;
    
}
.dashbody{
    
    margin: 5% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.card1{
    padding: 1.8% 6.5%;
    border: 2px solid black;
    border-radius: 10px;
}

.point-history{
    margin: 5%;
}