.containerStyle {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  height: 80vh;
}

.videoStyle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.rowStyle {
  color: white;
  margin-top: 3rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.colStyle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.2rem;

  font-family: "Titillium Web", sans-serif;

  @media screen and (max-width: 400px) {
    font-size: 1rem;
  }
  @media (min-width: 401px) {
    font-size: 1.2rem;
  }
  @media (min-width: 576px) {
    font-size: 1.5rem;
  }

  @media (min-width: 768px) {
    font-size: 3rem;
  }

  @media (min-width: 992px) {
    font-size: 4rem;
  }

  @media (min-width: 1200px) {
    font-size: 5rem;
  }
}

.colStyle2 {
  font-size: 2.5rem;

  @media screen and (max-width: 400px) {
    font-size: 2rem;
  }
  @media (min-width: 401px) {
    font-size: 2.5rem;
  }

  @media (min-width: 576px) {
    font-size: 3.5rem;
  }

  @media (min-width: 768px) {
    font-size: 4rem;
  }

  @media (min-width: 992px) {
    font-size: 5rem;
  }

  @media (min-width: 1200px) {
    font-size: 6rem;
  }

  font-weight: bold;
  margin-bottom: 0.8rem;
  margin-top: 0rem;
}
/* .image-card {
  position: relative;
  overflow: hidden;
}

.image-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  transition: opacity 0.3s ease-in-out;
}

.image-card:hover .overlay {
  opacity: 1;
} */
.image-card {
  position: relative;
  overflow: hidden;
}

.image-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-card:hover .overlay {
  opacity: 1;
}

.image-card:hover img {
  transform: scale(1.1); /* Adjust the scale factor as needed */
  transition: transform 0.3s ease-in-out;
}
